.container{
  max-width:576px;
  margin:auto;
  padding:0 8px;
  color:white;
  font-family:sans-serif;
}

.loading{
  text-align:center;
  color:#00f7ff;
}

.filter{
  display:flex;
  justify-content: space-around;

  margin-bottom:10px;
}

.filter input{
  width:110px;
  background:#4c4c4c;
  border:none;
  color:white;
  padding:8px;
  border-radius:8px;
}

.resetBtn{
  background:#ff00c8;
  border:none;
  color:white;
  padding:8px;
  border-radius:8px;
  cursor:pointer;
}

.total{
  color:#00f7ff;
  font-weight:bold;
}

.calendarScroll{
  max-height:270px;
  overflow-y:auto;
  padding-right:4px;
}

.monthBlock{
  margin-bottom:25px;
}

.monthTitle{
  margin-bottom:10px;
  font-size:18px;
  color:#00f7ff;
  text-transform:capitalize;
}

.calendar{
  display:grid;
  grid-template-columns:repeat(7,1fr);
  gap:6px;
}

.day{
  padding:10px 0;
  text-align:center;
  border:1px solid #333;
  border-radius:6px;
  cursor:pointer;
  transition:0.2s;
}

.day:hover{
  transform:scale(1.05);
  box-shadow:0 0 6px #00f7ff;
}

.today{
  background:#ff00c8;
}

.dayOff{
  background:#00ff9c;
  color:black;
}

.past{
  background:#2a2a2a;
}

.workDay{
  background:#001eff;
}

.details{
  font-weight: 600;
  margin-top:20px;
  padding:15px;
  border:1px solid #00f7ff;
  border-radius:10px;
  background:#0f0f0f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.infoRow {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
@media (max-width:320px){
  .day{
    padding:6px 0;
    font-size:12px;
  }
}